extends ../layout

block content
  h1 Danh sách sách
  
  if books.length
    table
      thead
        tr
          th Tiêu đề
          th Tác giả
          th Hành động
      tbody
        each book in books
          tr
            td= book.title
            td= book.author
            td
              a(href=`/books/${book.id}`) Xem
              |  | 
              a(href=`/books/${book.id}/edit`) Sửa
              |  | 
              form(action=`/books/${book.id}?_method=DELETE`, method="POST", style="display:inline")
                button(type="submit") Xóa
  else
    p Không có sách nào trong danh sách.
  